* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#main {
  height: 100%;
  width: 100%;
}

body {
  background-color: #242424;
}

#main > p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: white;
}

#main:has(p) {
  display: flex;
  justify-content: center;
  align-items: center;
}
